<div class = "header">
  <div class = "icon">
    <img src= <%= icon %> >
  </div>
  <div class = "title">
    <h1> <%= title %> </h1>
  </div>
  <div class = "description">
    <p> <%= description_fr %> </p>
  </div>
</div>

<div class = "images">
  <div class = "icons">
    <% _.each(icons, function(elem){ %>
      <div class = "icon id<%= elem.id %>">
        <img id = <%= elem.id %> src = <%= elem.patch %>>  
      </div> 
    <% }) %>
  </div>
  <% _.each(img, function(elem){ %>
    <div class = "image id<%= elem.id %>">
      <img id = <%= elem.id %> src = <%= elem.patch %>>  
    </div> 
  <% }) %>
</div>

<div class = "videos">
    <% _.each(video, function(elem){ %>
      <div class = "video id<%= elem.id %>">
        <%= elem.patch %>
      </div> 
    <% }) %>
</div>
