<div class = "row justify-content-center">
  <div class="aboutLogo col-lg-3 col-8">
      <img src = "img/about.gif" class="img-fluid">
  </div>
</div>  

<div class = "row justify-content-center">
  <div class = "aboutDescription col-lg-4 col-9 pt-2">
    <p>
      Qu'est-ce le design ? Qui est-ce cette personne mystérieuse nommée designer ? Impossible de donner la réponse complète en quelques mots et ce n’est pas mon but. Ce qui est important à retenir, c’est l’interdisciplinarité de ce domaine. Le croisement entre les arts, la technologie et les sciences humaines sert au designer à résoudre des problèmes, à trouver un moyen d’améliorer la vie des autres via ses produits. Mon parcours professionnel diversifié et mon double diplôme liant deux domaines différents, les sciences humaines et les arts visuels, me donnent un point de vue transversal face à un projet à réaliser.
    </br></br> Je m’appelle Marcelina Sula. Je suis designer graphiste basée à Strasbourg. Je me spécialise dans les réalisations graphiques destinées à l’impression. L’illustration et le montage sont également au centre de mon savoir-faire et de mes intérêts. Comme vous pouvez voir sur l’image ci-dessous, je navigue sur les eaux de l’immense océan nommé « design ». Cette discrète métaphore implique que, grâce à mes goûts éclectiques, je ne cesse jamais de tendre vers la perfection. Le développement constant est pour moi une qualité essentielle d’un spécialiste.
    </p>
  </div>
</div>
