<section class = "categories">
  <div class = "category-wrapper">
    <p class = "category" data-filter = "*">all</p>
    <div class = "wiggle" data-filter = "*"></div>
  </div>

  <div class = "category-wrapper">
    <p class = "category" data-filter = ".graphics">graphics</p>
    <div class = "wiggle" data-filter = ".graphics"></div>
  </div>

  <div class = "category-wrapper">
    <p class = "category" data-filter = ".illustration">illustration</p>
    <div class = "wiggle" data-filter = ".illustration"></div>
  </div>

  <div class = "category-wrapper">
    <p class = "category" data-filter = ".video">video</p>
    <div class = "wiggle" data-filter = ".video"></div>
  </div>
</section>
