<section class="categories row justify-content-center">
  <div class="category-wrapper col-lg-1 col-md-2 col-3">
    <p class="category text-center" data-filter="*">tout</p>
    <div class="wiggle" data-filter="*"></div>
  </div>

  <div class="category-wrapper col-lg-1 col-md-2 col-3">
    <p class="category text-center" data-filter=".graphics">graphisme</p>
    <div class="wiggle" data-filter=".graphics"></div>
  </div>

  <div class="category-wrapper col-lg-1 col-md-2 col-3">
    <p class="category text-center" data-filter=".illustration">illustration</p>
    <div class="wiggle" data-filter=".illustration"></div>
  </div>

  <div class="category-wrapper col-lg-1 col-md-2 col-3">
    <p class="category text-center" data-filter=".video">vidéo</p>
    <div class="wiggle" data-filter=".video"></div>
  </div>
</section>

<div class = "categoryGutter"></div>